body{
    background-color: rgb(189, 223, 245);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
header {
    background-color: rgb(0, 0, 255);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logInOut {
    text-align: right;
}
#logo {
width: 300px;
margin: auto;
}
nav ul {
    list-style-type: none;
    font-family:georgia, serif;
    display: flex;
    justify-content: space-around;

}
h2 {
    color: rgb(0, 0, 255);
    font-family:georgia, serif;
    font-weight: 70%;
    font-style: italic;
    display: flex;
    justify-content: center;
}
.class1{
    display: flex;
    justify-content: space-around;
    font-family:georgia, serif;
}
.class2{
    display: flex;
    justify-content: space-around;
    font-family:georgia, serif;
}
.class3{
    display: flex;
    justify-content: space-around;
    font-family:georgia, serif;

}
.class4{
    display: flex;
    justify-content: space-around;
    font-family:georgia, serif;
}

.saveExit {
    text-align: center;
    font-family:georgia, serif;
}

footer {
    background-color: rgb(0, 0, 255);
    padding: 40px;
    display: flex;
    justify-content: space-around;
}